version: "3.8"
services:
  #User-Service
  user-profile-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user-profile-service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_container:5432/postgres
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=password
    links:
      - db
    ports:
      - '8080:8080'
    depends_on:
      - db
  #Postgres
  db:
    image: postgres:15
    container_name: postgres_container
    restart: always
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - '5432:5432'
    volumes:
      - ./data/postgres-db-data:/var/lib/postgres/data