spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5433/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        follower_channel:
          name: follower_channel
        profile_view_channel:
          name: profile_view_channel
        mentorship_channel:
          name: mentorship_check_channel
        mentorship_request_channel:
          name: mentorship_request_channel

server:
  port: 8081

logging:
  level:
    root: info

project-service:
  host: localhost
  port: 8082

payment-service:
  host: localhost
  port: 9080

aws:
  endpoint: http://localhost:9000
  accessKey: user
  secretKey: password
  bucket-name: corpbucket
  region: us-east-2
#  accessKey: access_key
#    secretKey: secret_key
#    region: bucket_region

services:
  s3:
    bucket-name: user_backet
    isMocked: true
  avatar:
    small-file-width: 30
    small-file-height: 30
    avatar-file-name: avatar
    small-avatar-file-name: small_avatar
    folder: users/avatar

dicebear:
  url: https://api.dicebear.com/9.x
  avatars: Adventurer, Adventurer Neutral, Avataaars, Avataaars Neutral, Big Ears, Big Ears Neutral, Big Smile, Bottts, Bottts Neutral, Croodles, Croodles Neutral, Dylan, Fun Emoji, Glass, Icons, Identicon, Initials, Lorelei, Lorelei Neutral, Micah, Miniavs, Notionists, Notionists Neutral, Open Peeps, Personas, Pixel Art, Pixel Art Neutral, Rings, Shapes, Thumbs
  type: jpeg

number-months:
  new:
    request: 6

task:
  expired-premium-remove:
    remove-premium-interval : "@weekly"
    batch-size : 10
    thread-pool:
      core-pool-size : 10
      max-pool-capacity : 20
      queue-capacity : 500