spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        follower_channel: follower-channel
        profile_view_channel: profile-view-channel
        recommendation_channel: recommendation-channel
        skill_offer_channel: skill-offer-channel
        recommendation_requested_event_channel: recommendation-requested-event-channel
        user_ban: user-ban

  google:
    calendar:
      application-name: Corporation-X
      credentials-file-path: /credentials.json
      calendar-id: primary
      redirect-uri: http://localhost:8080/calendar/callback
      scopes: https://www.googleapis.com/auth/calendar
      access-type: offline

server:
  port: 8080

logging:
  level:
    root: info

project-service:
  host: localhost
  port: 8082

payment-service:
  host: localhost
  port: 9080

aws:
  accessKey: access_key
  secretKey: secret_key
  region: bucket_region

services:
  s3:
    bucket_name: user_bucket
    isMocked: true
    endpoint: http://localhost:9000
    accessKey: user
    secretKey: password
    bucket_name_for_avatars: avatar
    dice_bear:
      url: https://api.dicebear.com/6.x/pixel-art/svg?seed=
      size: '&size=100'