spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        follower_channel:
          name: follower-channel
        profile_view_channel:
          name: profile-view-channel
        mentorship_requested_channel:
          name: mentorship-requested-channel
        recommendation_channel:
          name: recommendation-channel
        event_channel:
          name: event-start-channel
        skill_channel:
          name: skill-acquired-channel
        mentorship_channel:
          name: mentorship-accepted-channel
        search_appearance_channel:
          name: search-appearance-channel
        skill_offered_channel:
          name: skill-offered-channel

  google:
    calendar:
      application-name: Corporation-X
      credentials-file-path: /credentials.json
      calendar-id: primary
      redirect-uri: http://localhost:8080/google/calendar/callback
      scopes: https://www.googleapis.com/auth/calendar
      access-type: offline

  async:
    corePoolSize: 8
    maxPoolSize: 10
    queueCapacity: 1000
    threadNamePrefix: "task-executor-thread-"

  students:
    partitionSize: 100

  scheduler:
    partitionSize: 1000
    cron: "0 0 0 7/7 * ?" # every 7 days ("0 * * * * *" every minute - for testing)

  goals:
    user_max_count: 3

server:
  port: 8080

logging:
  level:
    root: info

project-service:
  host: localhost
  port: 8082

payment-service:
  host: localhost
  port: 9080

aws:
  accessKey: access_key
  secretKey: secret_key
  region: bucket-region

services:
  s3:
    endpoint: http://localhost:9000
    username: user
    password: password
    bucketName: corpbucket
    isMocked: false

users:
  profile_picture:
    folder: profile_pictures
    max_file_size: 5242880
    big:
      max_size: 1080
    small:
      max_size: 170
