spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 100
          batch_versioned_data: true
        order_updates: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        mentorship-channel:
          name: mentorship_channel
        follower-event-channel:
          name: follower_event

server:
  port: 8080

project-service:
  host: localhost
  port: 8082

payment-service:
  host: localhost
  port: 9080
  base-path: /api
  url: http://${payment-service.host}:${payment-service.port}${payment-service.base-path}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger
    tagsSorter: alpha
    operationsSorter: alpha

app:
  goal:
    max-active-per-user: 3
  promotion:
    user_promotion_views_decrement_cron: '*/10 * * * * *'
    event__promotion_views_decrement_cron: '*/10 * * * * *'
  retryable:
    payment_service:
      send_payment:
        max_attempts: 3
        delay: 100
        multiplier: 2
  async-config:
    promotion-task-service:
      core_pool_size: 10
      max_pool_size: 20
      queue_capacity: 1000
      thread_name_prefix: PromotionTaskService-Async-
    premium-service-sync:
      core_pool_size: 10
      max_pool_size: 20
      queue_capacity: 1000
      thread_name_prefix: PremiumService-Async-
  user-redis-config:
    profile_view_event_topic: profileViewEvent

minio:
  endpoint: http://localhost:9000
  accessKey: user
  secretKey: password
  bucketName: corpbucket

redis:
  banner:
    topic: "user_ban"