spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        mentorship-channel:
          name: mentorship_channel
        follower-channel:
          name: follower_channel
        goal-event-channel:
          name: goal_channel
        event-event-channel:
          name: event_channel
        profile-view-channel:
          name: profile_view_channel
        user-ban-channel:
          name: user_ban_channel
      publisher:
        delay: 5000

server:
  port: 8080

logging:
  level:
    root: info

project-service:
  host: localhost
  port: 8082

payment-service:
  host: localhost
  port: 9080

services:
  s3:
    endpoint: http://localhost:9000
    accessKey: user
    secretKey: password
    bucketName: user-avatar

default-avatar-client:
  url: https://api.dicebear.com
  styleName: identicon
  ver: 9.x
  format: jpg
  prefixFileName: default_avatar_for_user_

avatar:
  size:
    maxFileSize: 5242880

image:
  format: jpeg

events:
  batch:
    size: 3
  cron: "0 0 0 * * *"

mentorship:
  request:
    time-constraint: 3

user:
  password:
    length: 16
  constants:
    upload:
      task-executor:
        core-pool-size: 10
        max-pool-size: 20
        queue-capacity: 1000
        thread-name-prefix: "UserUpload-"
    batch-size: 200

redis:
  topic:
    user-ban: user_ban