spring:
  mvc:
    servlet:
      path: /api/v1  # Set default path for Spring MVC controllers
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    kafka:
      port: 9092
      host: localhost
      channels:
        skill-channel:
          name: "skill_event_channel"
    redis:
      port: 6379
      host: localhost
      channels:
        follower_channel:
          name: follower_channel
        profile_view_channel:
            name: profile_view_channel
        recommendation_channel:
          name: recommendation_channel

server:
  port: 8080

api:
  v1: "api/v1"

logging:
  level:
    root: info

project-service:
  host: localhost
  port: 8082

payment-service:
  host: localhost
  port: 9080

aws:
  accessKey: accessKey
  secretKey: secretKey
  region: bucket_region

dicebear:
  avatar: https://api.dicebear.com/8.x/thumbs/svg?seed=
  small_avatar: https://api.dicebear.com/8.x/thumbs/svg?size=100&seed=

topic:
  user_ban: user_ban

services:
  s3:
    endpoint: http://localhost:9000
    accessKey: user
    secretKey: password
    region: bucket_region
    bucketName: user-service-bucket
    max_size: 5242880
    large_photo: 1080
    small_photo: 170
