<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%blue(%thread)] %highlight(%-5level) %green(%logger): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%blue(%thread)] %highlight(%-5level) %green(%logger): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <logger name="school.faang" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE2"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
