<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>

    <springProfile name="local">
        <root level="DEBUG">
            <appender-ref ref="Console" />
        </root>
        <include resource="logback-local.xml" />
    </springProfile>
</configuration>


