name: CIforGriffonMaster

on:
  pull_request:
    branches: [ "griffon-master" ]
  push:
    branches: [ "griffon-master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build Gradle
        run: ./gradlew build

      - name: Run tests
        run: ./gradlew test